/* Coolors Exported Palette - coolors.co/f500ff-fffeff-02a9ea-faff00-000300 */
$primary: rgba(245, 0, 255, 1);
$secondary: rgba(2, 169, 234, 1);
$tertiary: rgba(250, 255, 0, 1);
$text: rgba(0, 3, 0, 1);
$text50: rgba(0, 3, 0, 0.5);
$bg-el: rgba(0, 3, 0, 0.1);
$bg: rgba(255, 254, 255, 1);
