@import 'variables';

@import 'base';
@import 'fonts';
@import 'forms';

html,
body {
  height: 100%;
}
body {
  font-family: Barlow, -apple-system, Helvetica, Arial, sans-serif;
  background-color: $bg;
  color: $text;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
header {
  background-color: $primary;
  .vcard {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .avatar {
      padding-top: 0.25rem;
      img {
        width: 32px;
        height: auto;
        border-radius: 3em;
      }
    }
    a {
      color: white;
      border: none;
    }
  }
}
footer {
  padding: 1rem 0;
}
h1 {
  font-size: 1rem;
}
a {
  color: #232c33;
  padding: 0.125rem;
  border-bottom: 0.125rem solid $secondary;
  text-decoration: none;
}
a:hover {
  border-color: darken($secondary, 10%);
}
article {
  margin: 0 0 2rem;
  p.meta {
    a {
      border: none;
      color: $text50;
    }
  }
}
ul.nav {
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
  white-space: nowrap;
  li {
    list-style: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
  li::after {
    content: ' / ';
    color: $primary;
  }
  li:last-child::after {
    content: '';
  }
}
header,
footer,
.content {
  flex-shrink: 0;
}
.content {
  flex: 1;
  flex-grow: 1;
}
.container {
  width: 40rem;
  margin: 0 auto;
}
.tabbed {
  display: flex;
  flex-wrap: wrap;
  & > label {
    order: 1;
  }
  .tab {
    display: none;
  }
  .tab + label {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    background-color: white;
    border: thin solid $bg-el;
    border-right: none;
  }
  .tab + label:first-of-type {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .tab + label:last-of-type {
    border: thin solid $bg-el;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .tab:checked + label {
    background-color: $secondary;
    color: white;
  }
  form {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    background: #fff;
  }
  .tab:checked + label + form {
    display: block;
  }
}
