footer
  div.container
    p &copy; #{settings.name} 2018
    ul.nav
      li
        a(rel="me", href="https://github.com/") Github
      li
        a(rel="me", href="https://micro.blog/") Micro.blog
      li
        a(href="https://twitter.com/") Twitter
      li
        a(rel="me", href="https://instagram.com/") Instagram