header
  div.container.vcard#hcard-Arne-Fismen
    div.name
      a.url.fn(href=config.site)= config.name
    div.avatar
      img.photo(src="/public/images/me.square.png", alt="Photo of " + config.name)