header
  div.container.vcard(id="hcard-"+settings.name.split(" ").join("-"))
    div.name
      a.url.fn(href="/")= settings.name
    div.avatar
      img.photo(src="/public/images/me.square.svg", alt="Photo of " + settings.name)