extends layout

block content
  each post in posts
    case post.type
      when 'link'
        include types/link
      when 'short'
        include types/short
      when 'post'
        include types/post
      when 'image'
        include types/image