article.link.h-entry
  h1.p-name
    a.u-in-reply-to(href=post.url)= post.title
  div.md.e-content!= utils.md.render(post.content)
  p.meta
    a.u-url(href="#perma-link")= utils.moment(post.created).format('DD/MM/YYYY')